<div class="card border-primary">
  <h1 class="card-header text-bg-primary mt-3">New PINS</h1>
  <div class="card-body">
   <h6 class="card-title"><%= render "form", pin: @pin %></h6>
    
  </div>
</div>


<div >
<br/>
  <%= link_to "Back to pins", pins_path, class:"btn btn-dark" %>
</div>

