<div class="col-lg-7 mx-auto mt-5">
    <div class="card border-success">
        <h5 class="card-header text-bg-success text-white">Confirmation Panding</h5>
            <div class="card-body">
                <h5 class="card-title"> Hey! You are just one step away! </h5>
                <p class="card-text"> we send you a Confirmation email. Please check your inbox and open the email and click on <strong> Confirm My Account</strong></p>
            </div>
        </div>
</div>